{% extends "base.html" %}

{% block title %}Sign Up{% endblock %}

{% block content %}
    <h1>Sign Up Now!</h1>
    <form method="post">
        <label>Username: </label>
            <input type="text" name = "username" required> <br> <br>
        <label>Password: </label>
            <input type="password" name = "password" required> 
            <body>Password must be at least 8 characters long and contain both upper and lowercase letters as well as a special character.</body><br> <br>
        <button type="submit">Sign Up</button>
    </form>
    
    {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            <ul>
            {% for category, message in messages %}
                <li class="{{ category }}">{{ message }}</li>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
{% endblock %}
